/* Reset default margins/paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Body styling */
body {
  background: linear-gradient(135deg, #74ebd5, #9face6);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container for form */
.container {
  background: #3e383896;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0px 6px 15px rgb(0, 0, 0);
  width: 400px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.container:hover {
  transform: translateY(-10px);
}

/* Heading */
h1 {
  color: #000000e1;
  margin-bottom: 25px;
  font-size: 24px;
  cursor: default;
  text-align: center;
}

label{
  color: #000000;
  font-size: 18px;
  font-weight: 5px;
}
input[type="number"] {
  border: none;
  border-radius: 3px;
  margin-left: 16px;
  background-color: rgba(196, 254, 255, 0.553);
}
input[type="submit"] {
    background-color: rgb(100, 186, 189);
    size: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 12px;
    text-align: center;
    border: none;
    cursor: pointer;

}
input[type="submit"]:hover {
  background-color: rgba(0, 0, 0, 0.667),;
}
h2 {
  margin-top: 20px;
  color: #000000e1;
  font-size: 20px;
  cursor: default;
}